body {
    background-color: aqua;
}

.calculator {
    display: flex;
    border: solid;
    border-color: black;
    width: 320px;
    height: 500px;
    margin: auto;
    padding: 15px;
    margin-top: 100px;
}

.inner {
    display: flex;
    flex-direction: column;
    border: solid;
    border-color: green;
    width: 320px;
    height: 500px;
}

.first {
    display: flex;
    border: solid;
    border-color: yellow;
    height: 150px;
}

.keyboard {
    display: flex;
    flex-direction: column;
    border: solid;
    border-color: red;
    flex: 1;
    justify-content: space-between;
}

.first {
    display: flex;
}

.second {
    display: flex;
    justify-content: space-between;
}

.third {
    display: flex;
    justify-content: space-between;
}

.fourth {
    display: flex;
    justify-content: space-between;
}

.fifth {
    display: flex;
    justify-content: space-between;
}

.sixth {
    display: flex;
    justify-content: space-between;
}

.a {
    display: flex;
    background-color: #b0b0b0;
    height: 65px;
    width: 65px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.b {
    display: flex;
    background-color: #ffa500;
    height: 65px;
    width: 65px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    font-weight: bold;   
    color: white;
}

.c {
    display: flex;
    background-color: #484848;
    height: 65px;
    width: 65px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
}
.second .a:nth-child(3) {
    font-size: 20px; /* Adjust the font size as needed */
}

.second .a:nth-child(4) {
    font-size: 25px; /* Adjust the font size as needed */
}

.sixth .c:first-child {
   width: 140px;
}


