body {
    background-color: black;
}

.calculator {
    display: flex;
    border: solid;
    border-color: white;
    width: 320px;
    height: 520px;
    margin: auto;
    padding: 15px;
    margin-top: 100px;
    border-radius: 30px;
    background-color: black;
}

.inner {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 520px;
}

.first {
    display: flex;
    height: 150px;
    color: white;
}

.keyboard {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

.first {
    display: flex;
}

.second {
    display: flex;
    justify-content: space-between;
}

.third {
    display: flex;
    justify-content: space-between;
}

.fourth {
    display: flex;
    justify-content: space-between;
}

.fifth {
    display: flex;
    justify-content: space-between;
}

.sixth {
    display: flex;
    justify-content: space-between;
}

.a {
    display: flex;
    background-color: #b0b0b0;
    height: 65px;
    width: 65px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.b {
    display: flex;
    background-color: #ffa500;
    height: 65px;
    width: 65px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    font-weight: bold;   
    color: white;
    font-size: 38px;
}

.c {
    display: flex;
    background-color: #484848;
    height: 65px;
    width: 65px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    font-size: 25px;
}
.second .a:nth-child(3) {
    font-size: 20px; /* Adjust the font size as needed */
}

.second .a:nth-child(4) {
    font-size: 25px; /* Adjust the font size as needed */
}

.sixth .c:first-child {
   width: 150px;
}

.a:hover {
    background-color: #8b8b8b; /* Change the background color on hover */
}

.b:hover {
    background-color: #ffc966
}

.c:hover {
    background-color: #8a8a8a;
}
